.video-js {
  font-size: 12px;
  color: #fff;
  font-family: var(--font-geist-sans) !important;
}

.video-js .vjs-control-bar {
  color: #ffffff;
  font-size: 14px;
  z-index: 90 !important;
  height: 4.3em;
}

.video-js .vjs-icon-placeholder:before {
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}

.video-js .vjs-volume-panel {
  align-items: center;
}

.video-js .vjs-time-control {
  display: flex;
  align-items: center;
}

.vjs-default-skin .vjs-big-play-button {
  font-size: 5em;

  line-height: 5em;
  height: 5em;
  width: 5em;
  /* 0.06666em = 2px default */
  border: 0.06666em solid #fff;
  /* 0.3em = 9px default */
  border-radius: 50%;
  /* Align center */
  left: 50%;
  top: 50%;
  margin-left: -1.25em;
  margin-top: -1.25em;
}

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: #2b333f;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: var(--font-geist-sans) !important;
  backdrop-filter: blur(1px);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.video-js .vjs-slider {
  background-color: #73859f;
  background-color: rgba(115, 133, 159, 0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: #fff;
}

.video-js .vjs-load-progress {
  background: #bfc7d3;
  background: rgba(115, 133, 159, 0.5);
}

.video-js .vjs-load-progress div {
  background: rgb(0, 162, 255);
  background: rgb(0, 162, 255);
}

.video-js .vjs-menu {
}

.video-js ul.vjs-menu-content {
  background-color: rgba(70, 70, 70, 0.8) !important;
  max-height: none !important;
  border-radius: 4px !important;
  border: 1px solid rgba(255, 255, 255, 0.1) !important;
  font-size: 12px !important;
  flex-direction: column-reverse;
  display: flex;
  font-family: var(--font-geist-sans) !important;
  z-index: 90 !important;
  margin-bottom: 2.5em;
}

.video-js .vjs-menu-content li {
  text-transform: capitalize;
}

.video-js .vjs-menu-content li:hover:not(.vjs-selected) {
  background-color: rgba(56, 56, 56, 0.8) !important;
}

.video-js .vjs-menu-content li.vjs-selected {
  background-color: rgba(50, 50, 50, 0.8);
  color: #fff;
}

.video-js .vjs-menu-content li:first-child {
  display: none;
}

.video-js .vjs-live-display {
  visibility: hidden;
}
